body{
	min-width:300px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 150%;
}
span{
	padding: 5px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 15px;
}
.clearfix{
	padding: 5px;
}
p{
	text-align: center;
	padding: 5px;
}